# Cleaning

In [1]:
import pandas as pd

In [3]:
mysql = pd.read_csv("mysql.csv")

In [4]:
mongo = pd.read_csv("mongo.csv")

In [5]:
tableau = pd.read_csv("tableau.csv")

In [6]:
python = pd.read_csv("python.csv")

In [7]:
ml = pd.read_csv("machine_learning.csv")

In [18]:
courses = pd.concat([mysql, mongo, tableau, python, ml])

In [19]:
courses = courses.reset_index()

In [23]:
courses.drop('Unnamed: 0', axis=1, inplace=True)

In [24]:
courses.shape

(1270, 6)

In [25]:
courses.head(3)

,course,rating,students,level,university,skills
0,Learn SQL Basics for Data Science,4.6,400 mil,4.6,"University of California, Davis",MySQL
1,Excel to MySQL: Analytic Techniques for Business,4.6,660 mil,4.6,Duke University,MySQL
2,Introduction to Structured Query Language (SQL),4.8,140 mil,4.8,University of Michigan,MySQL

In [26]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   course      1270 non-null   object
 1   rating      1270 non-null   object
 2   students    1270 non-null   object
 3   level       1270 non-null   object
 4   university  1270 non-null   object
 5   skills      1270 non-null   object
dtypes: object(6)
memory usage: 59.7+ KB

In [27]:

courses['rating'] = courses['rating'].astype("float64")

ValueError: could not convert string to float: 'None'