# Cleaning

### Note; 
#### Although I have left this JUPYTER NOTEBOOK, finally I have not decided to use the csv. Instead of it, I opted for using Web Scrapping with Selenium.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/Coursera.csv")

In [3]:
df

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...
...,...,...,...,...,...,...,...
3517,"Capstone: Retrieving, Processing, and Visualiz...",University of Michigan,Beginner,4.6,https://www.coursera.org/learn/python-data-vis...,"In the capstone, students will build a series ...",Databases syntax analysis web Data Visuali...
3518,Patrick Henry: Forgotten Founder,University of Virginia,Intermediate,4.9,https://www.coursera.org/learn/henry,"�Give me liberty, or give me death:� Rememberi...",retirement Causality career history of the ...
3519,Business intelligence and data analytics: Gene...,Macquarie University,Advanced,4.6,https://www.coursera.org/learn/business-intell...,�Megatrends� heavily influence today�s organis...,analytics tableau software Business Intellig...
3520,Rigid Body Dynamics,Korea Advanced Institute of Science and Techno...,Beginner,4.6,https://www.coursera.org/learn/rigid-body-dyna...,"This course teaches dynamics, one of the basic...",Angular Mechanical Design fluid mechanics F...
3521,Architecting with Google Kubernetes Engine: Pr...,Google Cloud,Intermediate,4.7,https://www.coursera.org/learn/deploying-secur...,"In this course, ""Architecting with Google Kube...",bigtable bigquery SQL Google Cloud Platform...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [8]:
df.drop('Course URL', axis=1, inplace=True)

In [9]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course Description    0
Skills                0
dtype: int64

In [10]:
df.rename(columns={'Course Name':'course_name',
                        'University':'university',
                  "Difficulty Level": "difficulty_level",
                  "Course Rating": "rating",
                  "Course Description": "description",
                  "Skills": "skills"},
               inplace=True)

In [11]:
df.sample()

,course_name,university,difficulty_level,rating,description,skills
2230,Teach English Now! Theories of Second Language...,Arizona State University,Intermediate,4.9,In this course learners are introduced to seco...,education language acquisition language tea...

In [12]:
# Filtrado a través de nombre del curso.

In [13]:
mysql = df[df.course_name.str.contains('SQL')]

In [14]:
mongo = df[df.course_name.str.contains('Mongo')]

In [15]:
python = df[df.course_name.str.contains('Python')]

In [16]:
power_bi = df[df.course_name.str.contains('Power BI')]

In [17]:
tableau = df[df.course_name.str.contains('Tableau')]

In [18]:
java = df[df.course_name.str.contains('Java')]

In [19]:
data = df[df.course_name.str.contains('Data')]

In [20]:
Web = df[df.course_name.str.contains('Web')]

In [21]:
cyber = df[df.course_name.str.contains('Cybersecurity')]

In [22]:
aws = df[df.course_name.str.contains('AWS')]

In [23]:
azure = df[df.course_name.str.contains('Azure')]

In [24]:
machine = df[df.course_name.str.contains('Machine Learning')]

In [25]:
deep = df[df.course_name.str.contains('Deep Learning')]

In [26]:
# Filtrado a través de skills

In [27]:
web = df[df.skills.str.contains('Web')]

In [28]:
Data = df[df.skills.str.contains('Data')]

In [29]:
cloud = df[df.skills.str.contains('Cloud')]

In [30]:
management = df[df.skills.str.contains('Management')]

In [31]:
apache = df[df.skills.str.contains('Apache')]

In [32]:
courses = pd.concat([mysql, mongo, python, power_bi, tableau, java, data, web, Web, Data, cloud, management, cyber, aws, apache, azure, machine, deep], axis=0,)

In [33]:
courses

,course_name,university,difficulty_level,rating,description,skills
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...
84,Mastering SQL Joins,Coursera Project Network,Advanced,4,"In this 2-hour long project-based course, you ...",aggregate function project employment sorti...
85,Create a Database with the Modeling Tool in My...,Coursera Project Network,Intermediate,4.7,In this course you will use the Modeling and D...,Databases java annotation integrated develop...
92,Create Relational Database Tables Using SQLite...,Coursera Project Network,Beginner,4.7,"In this project-based course, you will learn h...",database management systems Databases web br...
119,Managing Big Data with MySQL,Duke University,Beginner,4.6,This course is an introduction to how to use r...,SQL Leadership and Management analysis rela...
...,...,...,...,...,...,...
2377,Probabilistic Deep Learning with TensorFlow 2,Imperial College London,Advanced,Not Calibrated,Welcome to this course on Probabilistic Deep L...,Artificial Neural Networks Machine Learning ...
2563,Deep Learning Inference with Azure ML Studio,Coursera Project Network,Beginner,4.7,"In this project-based course, you will use the...",web service inference Deep Learning web app...
2711,Introduction to Deep Learning & Neural Network...,IBM,Beginner,4.7,Looking to start a career in Deep Learning? Lo...,recurrent neural network Artificial Neural Ne...
2782,Introduction to Deep Learning,National Research University Higher School of ...,Advanced,4.4,The goal of this course is to give learners ba...,Tensorflow Convolutional Neural Network Kera...
3091,Deep Learning for Business,Yonsei University,Beginner,4.3,"Your smartphone, smartwatch, and automobile (i...",Deep Learning Artificial Neural Networks her...

In [34]:
courses = courses.drop_duplicates()

In [36]:
courses.shape

(1268, 6)

In [37]:
courses = courses.reset_index()

In [38]:
courses.drop('index', axis=1, inplace=True)

In [39]:
courses.sample()

,course_name,university,difficulty_level,rating,description,skills
1254,Fake News Detection with Machine Learning,Coursera Project Network,Beginner,4.5,"In this hands-on project, we will train a Bidi...",face recognition Long Short-Term Memory Pyth...

# Cleaning

### Column; course_name

In [40]:
len(courses.course_name.unique())

1263

### Column; University

In [48]:
print(list(courses.university.unique()))

['Coursera Project Network', 'Duke University', 'IBM', 'Cloudera', 'Yandex', 'University of California, Davis', 'Amazon Web Services', 'SAS', 'University of Michigan', 'Universidad Nacional Aut�noma de M�xico', 'University of London', 'MongoDB Inc.', 'The Hong Kong University of Science and Technology', 'Rice University', 'Google', 'Nanjing University', 'Wesleyan University', 'Johns Hopkins University', 'EDHEC Business School', 'University of Alberta', 'University of California, Irvine', 'University of Illinois at Urbana-Champaign', 'Ludwig-Maximilians-Universit�t M�nchen (LMU)', 'University of California San Diego', 'Vanderbilt University', 'Google Cloud', 'JetBrains', 'University of Maryland, College Park', 'EIT Digital', 'The University of Edinburgh', 'The University of Sydney', 'Georgia Institute of Technology', 'University of Washington', 'University of California, Santa Cruz', 'Emory University', 'University of Colorado System', 'National Research Tomsk State University', 'The State University of New York', 'Alibaba Cloud Academy', 'Yonsei University', 'CertNexus', 'MathWorks', 'National Research University Higher School of Economics', 'Universiteit Leiden', 'Macquarie University', 'Northeastern University', 'Alberta Machine Intelligence Institute', 'Eindhoven University of Technology', 'University of Colorado Boulder', 'University of Toronto', 'ESSEC Business School', 'University of Amsterdam', '�cole Polytechnique F�d�rale de Lausanne', 'Imperial College London', 'LearnQuest', 'Arizona State University', 'Icahn School of Medicine at Mount Sinai', 'California Institute of the Arts', 'University of New Mexico', 'University of Virginia', 'Michigan State University', 'University of Houston', 'University of Minnesota', 'E-Learning Development Fund', 'Korea Advanced Institute of Science and Technology(KAIST)', 'Association of International Certified Professional Accountants', 'New York University', 'University System of Georgia', 'Shanghai Jiao Tong University', 'University of Florida', 'Princeton University', 'Erasmus University Rotterdam', 'IE Business School', 'University of Cape Town', 'Lund University', 'Rutgers the State University of New Jersey', 'Palo Alto Networks', 'Politecnico di Milano', 'Pohang University of Science and Technology', 'Intel', '(ISC)�', 'The University of Melbourne', 'VMware', 'IESE Business School', 'University of Geneva', 'Columbia University', 'Moscow State Institute of International Relations (MGIMO) / ????? (?????????? ??????????????? ???????? ????????????? ????????? ??? ??????)', 'West Virginia University', 'Technical University of Denmark (DTU)', 'Universit� Bocconi', 'Facebook', 'Case Western Reserve University', 'CentraleSup�lec', 'HEC Paris', 'The Linux Foundation', 'Northwestern University', 'Goldman Sachs', 'ESCP Business School', 'Advancing Women in Product', 'University of Copenhagen', 'University of Leeds', 'Funda��o Instituto de Administra��o', 'UNSW Sydney (The University of New South Wales)', 'Saint Petersburg State University', 'University of Pittsburgh', 'Indian School of Business', 'Peter the Great St. Petersburg Polytechnic University', 'Moscow Institute of Physics and Technology', 'National Taiwan University', 'Autodesk', 'Brightline Initiative', 'The George Washington University', 'SV Academy', 'The Pennsylvania State University', 'New York Institute of Finance', 'Yale University', 'Technion - Israel Institute of Technology', 'Copenhagen Business School', 'Automation Anywhere', 'Atlassian', 'Relay Graduate School of Education', 'Berklee College of Music', 'University of Western Australia', 'University of Manchester', 'Osmosis', 'DeepLearning.AI', 'H2O']

### Column; difficulty_level

In [42]:
list(courses.difficulty_level.unique())

['Beginner', 'Advanced', 'Intermediate', 'Conversant', 'Not Calibrated']

### Column; rating

In [43]:
print(list(courses.rating.unique()))

['4.6', '4', '4.7', '4.5', '4.8', '4.4', '4.3', '3.5', '4.2', 'Not Calibrated', '4.9', '5', '3.8', '3.2', '4.1', '3.4', '3.9', '2.6', '3.6', '3.7', '1', '3.3', '3', '2.8', '2.9']

### Columns; description

In [44]:
# Esta columna la dejo tal cual está.

In [45]:
# print(list(courses.description.unique()))

### Columns; skills

In [49]:
#print(list(courses.skills.unique()))